<link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

<p><a class="btn btn-default" href="<%= new_dog_path %>" role="button">Register Your Dog!</a></p>

<div class="container marketing">
  <% count = 0 %>
  <% @dogs.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |dog| %>
        <div class="col-lg-4 dog">
          <% dog.img.url(:thumb) %>
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2><%= dog.name %></h2>
          <p><%= dog.dog_snippet %></p>
          <p><a class="btn btn-default" href="<%= dog_path(dog) %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      <% end %>
  </div><!-- /.row -->
  <% end %>
</div>

