<title>dogg.io</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- images/text in carousel
      ================================================ -->

      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/share.jpg" class="home-img" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>more interaction, less isolation</h1>
              <p>One key to a healthy mind is staying engaged with others. While walking a dog, you'll want to talk with other dog walkers and pet owners, making for fulfilling conversation. </p>
              <p><a class="btn btn-lg btn-primary" href="/dogs" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/schweenrocky.jpg" class="home-img" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>make a friend</h1>
              <p>On average, people who spend time with dogs have a lower blood pressure and lower heart rates while resting than people who did not own a pet. </p>
              <p><a class="btn btn-lg btn-primary" href="/dogs" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/pillows.jpg" class="home-img" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>canines in your community</h1>
              <p>Spending time with a dog -- walking with it, grooming it, playing with it --helps you feel better about the role you play in your neighborhood and the way you spend your time.</p>
              <p><a class="btn btn-lg btn-primary" href="/dog" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
         <div class="item">
          <img src="assets/IMG_3168.jpg" class="home-img" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>go for a run</h1>
              <p>"A tired dog is a happy dog." Taking a dog for a daily 30-minute walk or run will keep you moving and benefits everyone. </p>
              <p><a class="btn btn-lg btn-primary" href="/dog" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
         <div class="item">
          <img src="assets/IMG_3999.jpg" class="home-img" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>give back</h1>
              <p>Petting a dog, or even being in the presence of a dog, much like caring for a baby, can produce a surge in oxytocin, the all-purpose bonding hormone—one scientific term is a “parasympathetic surge.</p>
              <p><a class="btn btn-lg btn-primary" href="/dog" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    
    <!-- /.carousel -->



   
