<title>dogg.io</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- images/text in carousel
      ================================================ -->

      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/share.jpg" class="home-img" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>go for a walk</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "pre`vious" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/schweenrocky.jpg" class="home-img" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>make a friend</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/pillows.jpg" class="home-img" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>canines in your community</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
         <div class="item">
          <img src="assets/IMG_3168.jpg" class="home-img" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>go for a run</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
         <div class="item">
          <img src="assets/IMG_3999.jpg" class="home-img" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>give back</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    
    <!-- /.carousel -->



   
