<!-- Bootstrap core CSS -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
    <link href="register.css" rel="stylesheet">

  <div class="p-1">
    <div class="paragraph-caption">
      <h2>Dogs and Owners</h2>
      There's no reason our dogs can't have more than their 'best friend'.<p>
      Register your pup to honor their free time by giving the gift of a new playmate when you're not around.<br>
      <p><a class="btn btn-lg btn-primary paragraph-btn" href="/dogs/new" role="button">Register your Dog</a></p>
    </div>  

    <div class="paragraph-caption">
      <h2>Doglovers</h2>
      Sign up as a Doglover to hang out with cool dogs in your neighborhood!<p>
      You can browse the fun assortment of dogs around you to hang out with in case you don't have your own.<br>
      <p><a class="btn btn-lg btn-primary paragraph-btn" href="/people/new" role="button">Register as Doglover</a></p>
      </div>
    </div>

    <img src="assets/turtle.jpg" class="feature-img center-block">
    
  </div>




