.home-img { 
  max-height: 500px;
  min-width: 100%;
}

.container {
  width: 1170px;
}

@media screen and (min-width: 1836px) {

  .container {
    width: 1836px;
  }

  #myCarousel {
    height: 785px;
  }

  .item, .item.active {
   height: 785px;
  }

  .home-img { 
    max-height: 785px;
    min-width: 100%;
  }

}




