.home-img { 
  padding-top: 70px;
  max-height: 500px;
  min-width: 100%;

}

/*.home-img {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.home-img > img {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
}
*/