// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bio {
  text-align: center;
}

.col-lg-4 {
  text-align:center;
  padding-bottom:1cm;
}

.col-lg-6 {
  text-align:center;
  padding-bottom:1cm;
}

.main {
  margin-right: 11cm;
  padding-top: .1cm;

}

.dog {
  text-align: center;
  padding: 0px 40px 0px 40px;
}

.dog-btn {
  margin-left: 0px 30px 30px 30px;
  width: fit-content;
  font-size: 14px;
  border-width: 3px;
  border-color: #CCFFFF;
}

.dog-p-left {
  padding: 40px 20px 20px 200px;
}

.dog-p-right {
padding: 20px;
}

.owner-box {
  margin: 5px 130px;
  padding: 5px;
}

.edit-btn {
  text-align: center;
}

#map {
  width: 800px; 
  height: 400px;
}